{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<button class="btn btn-primary mt-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
